* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--eerie-black);
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f111;
  border-radius: 2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--emerald);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url(../fonts/NanumGothic-Regular.ttf);
}
@font-face {
  font-family: "Nanum Gothic Bold";
  src: url(../fonts/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: "Nanum Gothic Extra Bold";
  src: url(../fonts/NanumGothic-ExtraBold.ttf);
}
@font-face {
  font-family: "Julietta Messie";
  src: url(../fonts/Julietta-Messie-Demo.ttf);
}
@font-face {
  font-family: "Weezer";
  src: url(../fonts/weezerfont.ttf);
}

:root {
  /* COLORS */
  --maximum-blue-green: #02bdc9;
  --mountain-meadow: #25c09a;
  --emerald: #48c36b;
  --kelly-green: #6bc63c;
  --yellow-green: #8dc90c;
  --light-yellow-green: #97ce22;
  --eerie-black: #282828;
  --dim-gray: #6e6e6e;
  --silver-chalice: #b4b4b4;
  --dark-white: #e6e6e6;
  /* FONTS */
  --main-font: "Weezer";
  --main-font-bold: "Nanum Gothic Bold";
  --main-font-extrabold: "Nanum Gothic Extra Bold";
  --script-font: "Julietta Messie";
}

/* ---------- HEADER ---------- */

header nav {
  height: 5rem;
  width: 100%;
  background-color: var(--maximum-blue-green);
  display: flex;
  position: fixed;
  justify-content: space-between;
}

header nav .navbar-logo-container {
  height: 100%;
  width: auto;
}
header nav .navbar-logo-container img {
  height: 80%;
  margin: 10%;
}

header nav .navbar-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  color: var(--dark-white);
}
header nav .navbar-title h1 {
  font-family: var(--script-font);
  font-size: 0rem;
}
header nav .navbar-title h2 {
  position: relative;
  top: -1rem;
  left: -4rem;
  font-family: var(--main-font);
  font-size: 0rem;
}

header nav .navbar-buttons {
  list-style: none;
  display: flex;
}
header nav .navbar-buttons a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  font-family: var(--main-font);
  color: var(--dark-white);
  text-decoration: none;
  font-size: 1.6rem;
  transition: 0.1s;
}
header nav .navbar-buttons a:hover {
  background-color: var(--emerald);
}

/* ---------- MAIN ---------- */

main {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
}

main .main-landing {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 5rem);
  background-image: url(../img/landing.jpg), linear-gradient(180deg, rgba(2, 189, 201, 1) 0%, rgba(141, 201, 12, 1) 100%);
  background-size: cover;
  background-position: left bottom;
}
main .main-landing .landing-txt-container {
  /* height: 40%; */
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--script-font);
  color: var(--dark-white);
}
main .main-landing .landing-txt-container .title {
  font-size: 6rem;
  text-shadow: -0.3rem 0.3rem 0rem var(--eerie-black);
}
main .main-landing .landing-txt-container .subtitle {
  text-shadow: -0.3rem 0.3rem 0rem var(--eerie-black);
  font-size: 4rem;
}

main .main-gallery {
  width: 100%;
  background-color: var(--eerie-black);
}

main .main-gallery .gallery-title {
  text-align: center;
  padding-top: 2rem;
  font-family: var(--script-font);
  color: var(--dark-white);
  font-size: 4rem;
}

main .main-gallery .gallery-container {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .main-gallery .gallery-container .gallery-item {
  width: 80%;
  height: 18rem;
  margin: 2rem 0;
  border-radius: 1rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main-gallery .gallery-container .gallery-item p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  border-radius: 0rem;
  font-family: var(--script-font);
  font-size: 3rem;
  color: var(--eerie-black);
  padding: 1rem;
  background-color: #ffffff66;
  transition: 0.1s;
}

main .main-gallery .gallery-container .gallery-item p:hover {
  background-color: #ffffffaa;
}

/* GALLERY IMAGES */
main .main-gallery .gallery-container .item1 {
  background-image: url(../img/gallery/crab.jpg);
}
main .main-gallery .gallery-container .item2 {
  background-image: url(../img/gallery/beachsunshine.jpg);
}
main .main-gallery .gallery-container .item3 {
  background-image: url(../img/gallery/beachsunset.jpg);
}
main .main-gallery .gallery-container .item4 {
  background-image: url(../img/gallery/sea.jpg);
}
main .main-gallery .gallery-container .item5 {
  background-image: url(../img/gallery/turtle.JPG);
}
main .main-gallery .gallery-container .item6 {
  background-image: url(../img/gallery/ilovesai.JPG);
}

/* ---------- FOOTER ---------- */

footer {
  height: 20rem;
  width: 100%;
  background-color: var(--eerie-black);
  border-top: var(--dim-gray) solid 0.2rem;
}
