header nav .navbar-buttons a{
    padding: 0 2rem;
    font-size: 2rem;
}    
main .main-landing .landing-txt-container .title{
    font-size: 12rem;
}
main .main-landing .landing-txt-container .subtitle{
    font-size: 9rem;
}
main .main-gallery .gallery-title{
    font-size: 9rem;
}
main .main-gallery .gallery-container .gallery-item{
    width: 45%;
    height: 28rem;
    border-radius: 2rem;
}  
main .main-gallery .gallery-container .gallery-item p{
    font-size: 5rem;
}
main .main-gallery .gallery-container .gallery-item p{
    width: 60%;
}
