header nav{
    height: 10rem;
}
header nav .navbar-buttons a{
    padding: 0 2rem;
    font-size: 2rem;
}    
header nav .navbar-title{
    padding-top: 2rem;
}
header nav .navbar-title h1{
    font-size: 5rem;
}
header nav .navbar-title h2{
    font-size: 1rem;
}

main{
    padding-top: 10rem;
}
main .main-landing{
    height: calc(100vh - 10rem);
}
main .main-landing .landing-txt-container .title{
    font-size: 12rem;
}
main .main-landing .landing-txt-container .subtitle{
    font-size: 5rem;
}
main .main-gallery .gallery-title{
    font-size: 9rem;
}
main .main-gallery .gallery-container .gallery-item{
    width: 45%;
    height: 28rem;
    border-radius: 2rem;
}  
main .main-gallery .gallery-container .gallery-item p{
    font-size: 5rem;
}
main .main-gallery .gallery-container .gallery-item p{
    width: 60%;
}
/* GLAMPINGS */

main .main-landing .card{
    width: 30%;
    height: 80%;
    max-width: none;
}